<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>last name</th>
            <th>email</th>
        </tr>

        <tr th:each="user :${users}">
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getName()}">Name</td>
            <td th:utext="${user.getLastName()}">Last name</td>
            <td th:utext="${user.getEmail()}">Email</td>
            <td> <a th:href="@{/user/{id}(id=${user.getId()})}"> Get user</a></td>
        </tr>
    </table>

    <br/>

    <title> New User: </title>
    <a th:href="@{/user/new}"> Create new User </a>

</body>
</html>